[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
shell = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
requests = "*"
pip = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.12"
